version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      - DATABASE_URL=postgresql://studentuser:J49vxYEHzq1dGNhRiHk9r5LVFwPKCTSp@dpg-d4d2buodl3ps73bqfj60-a/studentdb_9r9r
      - SECRET_KEY=trannhatduc2004
    depends_on:
      - db
    volumes:
      - .:/app
    command: gunicorn --bind 0.0.0.0:5000 --workers 2 --reload app:app

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=studentdb
      - POSTGRES_USER=studentuser
      - POSTGRES_PASSWORD=studentpass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data: